name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.20'
          cache: true

      - name: Go mod tidy
        working-directory: ./backend
        run: go mod tidy

      - name: Build
        working-directory: ./backend
        run: go build -v .

      - name: Test
        working-directory: ./backend
        run: go test -v ./...
